<div style="background: url('../public/img/mountain.jpeg')" class="page-holder bg-cover">
    <div class="container py-5">
      <header class="text-center text-white py-5">
        <h1 class="display-2"><strong>TRAVEL BUCKETLIST</strong></h1>
      </header>
    </div>
    
    <div class="container"> 
        <div class="d-flex"> 
            <div class="align-self-center mx-auto">
                <a href="review.html"><button type="button" class="btn btn-primary btn-lg" id="review">Write A Review</button></a>
                <a href="destination.html"><button type="button" class="btn btn-primary btn-lg" id="search">Destination Search</button></a>
            </div>
        </div> 
    </div> 
</div>
