    <div class="container"> 
            <div class="d-flex"> 
            <div class="align-self-center mx-auto">
                    <form class="create-form"> 
                    <h3 class="align-self-center">Write A Review</h3>

                    {{!-- Input User ID - how do we integrate passport here?? --}}
                    {{!-- Do we have a list of reviews by this user appearing on this page?? --}}
                    <div class="form-group row">
                        <label for="inputUser" class="col-sm-2 col-form-label">User:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputUser" placeholder="User">
                        </div>
                    </div>

                    {{!-- Input City Review fields --}}
                    <div class="form-group row">
                        <label for="inputCity" class="col-sm-2 col-form-label">City Name:</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputCity" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cityReview" class="col-sm-2 col-form-label">City Review:</label>
                        <div class="col-sm-12">
                        <textarea class="form-control" id="cityReview" placeholder="Review" rows="12"></textarea>
                        </div>
                    </div>

                    {{!-- Input Hotel Review fields --}}
                    <div class="form-group row">
                        <label for="inputHotel" class="col-sm-2 col-form-label">Hotel Name:</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputHotel" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="hotelReview" class="col-sm-2 col-form-label">Hotel Review:</label>
                        <div class="col-sm-12">
                        <textarea class="form-control" id="hotelReview" placeholder="Review" rows="12"></textarea>
                        </div>
                    </div>
                      
                    <button type="submit" class="btn btn-primary btn-lg" id="create-review">Submit Review</button>
                </form>
            </div>
            </div> 
    </div> 
