.page-holder {
    min-height: 100vh;
  }
  
.bg-cover {
    background-size: cover !important;
  }

h1 {
    margin-top: 20%;
}

.btn-primary {
    color: #ffffff;
    background-color: rgb(211, 83, 121);
    border-color: rgb(211,93,121);
}

.btn-primary:hover {
    color: #ffffff;
    background-color: rgb(97, 95, 144);
    border-color: rgb(97, 95, 144);
}

.container {
  padding: 2px 16px;
}

.loginForm, .signup, .review-form {
  margin: 20%;
  background-color: #ffffff;
  padding: 5px 15px;
}

.login-title, .signup-title {
  text-align: center;
}

#review, #search, #signup, #login {
  margin: 20px;
}

.card {
  opacity: .6;
}

.card-body {
  color: black;
}